<div ng-controller="TecnicoCtrl">
	<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">
	
	<h1>{{nombrePagina}}</h1>
  	
	<table class="table table-striped">
	  <thead>
  		<tr>
		    <th>#</th>
		    <th>Nombre</th> 
		    <th>email</th>
		</tr>	
	  </thead>
	  <tbody>
	  	<tr ng-repeat="usuario in usuarios" >
		    <td>{{usuario.id}}</td>
		    <td>{{usuario.apenom
		    }}</td>
		    <td>{{usuario.email}}</td> 
		</tr>	
	  </tbody>
	  
	</table>  	

  </div>
  <div class="col-md-4">.col-md-4</div>
</div>	
</div>





